body {
  font-family: 'Open Sans', sans-serif;
  color: #1B1A1A;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.section {
  min-height: 680px;
  background: #F6F6F6 url('../../image/Subtract.svg') no-repeat -150px -100px;

  .header {
    max-height: 75px;
    display: flex;
    padding: 15px 0 0 150px;
    justify-content: space-between;
    align-items: center;

    .logo {
      height: 40px;

      @media (max-width: 900px) {
        margin: 0 auto;
        height: 40px;
      }
    }

    .nav {
      display: flex;
      width: 435px;
      justify-content: space-between;
      padding: 0 150px 0 0;

      .nav_link {
        text-decoration: none;
        color: inherit;
      }
    }

    @media (max-width: 900px) {
      max-height: 75px;
      display: flex;
      padding: 15px 0 0 0;
      justify-content: center;
    }
  }

  .content {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 960px;
    text-align: center;

    .title {
      margin-top: 90px;
      font-size: 32px;
      font-weight: 900;
    }

    .subtitle {
      font-size: 24px;
    }

    .btn {
      min-width: 160px;
      height: 46px;
      padding: 0 25px;
      background: #FDBA2F;
      color: #FFFFFF;
      border-radius: 8px;
      border: none;
      font-size: 16px;
      text-transform: uppercase;
      font-family: inherit;
    }

    .context {
      width: 100%;
      margin-top: 25px;

      .title_context {
        font-weight: bold;
        font-size: 24px;
      }

      .text_list {
        text-align: start;

        .selected_text {
          font-weight: bold;
        }
      }
    }

    .title_liberating_change {
      font-weight: bold;
      font-size: 24px;
      margin: 65px 0 35px 0;
    }

    .liberating_change {
      display: flex;
      width: 100%;
      margin-bottom: 15px;
      justify-content: space-between;

      .text_liberating_change {
        width: 512px;
        text-align: start;

        .selected_text_liberating_change {
          color: #FB6B1A;
          font-weight: bold;
        }

        .text_world_liberating_change {
          text-align: center;
          padding: 0 80px;
          width: 400px;
        }

        .subtext_partners_liberating_change {
          margin-bottom: -15px;
        }
      }

      .img_liberating_change {
        height: 360px;
        margin-top: 25px;
      }
    }

    .title_big {
      margin-top: 15px;
      font-size: 32px;
      font-weight: bold;
    }

    .our_works {
      display: flex;
      justify-content: space-between;
      margin-top: 25px;
      width: 100%;
    }

    .img_privacy_change {
      margin-top: 5px;
    }

    .text_work_process {
      text-align: start;
    }

    .product_content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 45px;

      .product_card {
        width: 304px;
        height: 130px;
        background: #FFFFFF;
        box-shadow: 1px 1px 5px rgba(27, 26, 26, 0.77);

        .product_text {
          display: flex;
          align-items: center;
          font-size: 16px;
          margin: 30px;
        }
      }
    }
  }
}
.footer {
  padding: 25px 15px;
  text-align: start;
  font-size: 16px;
  color: rgba(27, 26, 26, 0.47);
}
